{% extends "bootstrap/base.html" %}

{% block title %}Categorias{% endblock %}

{% block navbar %}
<div class="navbar">
    <div class="row">
        <div class="col-md-12 titulo">
            <h1>Categoria</h1>
        </div>
    </div>
</div>
<div class="row">
    <ul>
        <div class="col-md-6">
            <a class="btn btn-primary" href="/categorias" role="button">Categorias</a>
            <a class="btn btn-primary" href="/produtos" role="button">Produtos</a>
            <a class="btn btn-primary" href="/compras" role="button">Compras</a>
            <a class="btn btn-primary" href="/fornecedores" role="button">Fornecedores</a>
            <a class="btn btn-primary" href="/vendas" role="button">Vendas</a>
            <a class="btn btn-primary" href="/vendedores" role="button">Vendedores</a>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
</div>
</ul>
</div>
{% endblock %}

{% block content %}

<div id="viewPesquisar">
    <div class="panel">
        <div class="panel-title" style="margin-top: 40px; margin-bottom: 40px">
            <div class="col-md-12">
                <div class="row pesquisaadd" >
                    <h3 class="col-md-3">Pesquisar Categorias</h3>
                    <input class="col-md-3 btn btn-warning" id="btnAdicionar" type="button" style="margin-left: 30px;" class="btn btn-warning" value="Adicionar"
                        onclick="viewAdicionar()">
                </div>
                <hr class="my-4">
            </div>
        </div>
        <hr class="my-4">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="Nome">Nome</label>
                    <input type="text" id="Nome" name="Nome" />
                </div>
                <div class="col-md-6">
                    <form method="get">
                        <input botao id="btnPesquisar" type="button" class="btn btn-success" value="Pesquisar">
                    </form>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 20px">
        <table id="table" class="col-md-12">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fg. Ativo</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<div id="viewItem">
    <div class="panel">
        <div class="panel-title" style="margin-top: 40px; margin-bottom: 40px">
            <div class="col-md-12">
                <div class="row pesquisaadd">
                    <h3 class="col-md-3">Adicionar/Editar Categoria</h3>
                    <input class="col-md-3 btn btn-warning" id="btnVoltar" type="button" style="margin-left: 30px;" class="btn btn-warning" value="Voltar"
                        onclick="viewPesquisar()">
                </div>
                <hr class="my-4">
            </div>
        </div>
        <hr class="my-4">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <input type="hidden" id="IdItem" name="IdItem">
                    <label for="Nome">Nome</label>
                    <input type="text" id="NomeItem" name="Nome" />
                </div>
                <div class="col-md-2">
                    <label for="Ativa">Ativa</label>
                    <input type="number" id="AtivaItem" name="Ativa" />
                </div>
                <div class="col-md-5">
                    <label for="Descricao">Descrição</label>
                    <input type="text" id="DescricaoItem" name="Descricao" />
                </div>
                <div class="col-md-2">
                    <form method="get">
                        <input botao id="btnSalvar" type="button" class="btn btn-success" value="Concluído">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles -%}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#viewItem').hide();
    });

    var itemSelecionado = {};

    var listaItems = [];

    function viewPesquisar() {
        $("#viewPesquisar").show();
        $("#viewItem").hide();
    }

    function viewEditar(id) {
        itemSelecionado = listaItems.find(item => { return item.id_categoria == id });
        console.log("Item selecionado: ", itemSelecionado);
        $("#NomeItem").val(itemSelecionado.titulocategoria);
        $("#IdItem").val(id);
        $("#AtivaItem").val(itemSelecionado.fg_ativo);
        $("#DescricaoItem").val(itemSelecionado.descricaocategoria);
        $("#viewPesquisar").hide();
        $("#viewItem").show();
    }

    function viewAdicionar() {
        itemSelecionado = {};
        $("#NomeItem").val("");
        $("#AtivaItem").val("");
        $("#DescricaoItem").val("");
        $("#viewPesquisar").hide();
        $("#viewItem").show();
    }

    function deletar(id) {
        console.log("Deletar");
        $.ajax({
            url: '/deleteCategoria/' + id,
            type: 'DELETE',
            success: function (data, status) {
                alert("Deletado");
                pesquisar();
            },
            error: function (error) {
                console.log(error);
                alert("Não foi possível excluir. Talvez já exista alguém referenciando este objeto.");
            }
        });
    }

    function isEmpty(obj) {
        for (var prop in obj) {
            if (obj.hasOwnProperty(prop))
                return false;
        }

        return true;
    }

    function pesquisar() {
        let nome = $("#Nome").val();

        console.log("Clicou em pesquisar");
        let stringGet = "";
        if (nome == "")
            stringGet = "/consultaCategoriasAll";
        else
            stringGet = "/consultaCategorias/".concat(nome);

        $.get(stringGet, function (data, status) {
            listaItems = data;
            if (listaItems.length == 0) {
                alert("Nenhum resultado");
            }
            $("#table tbody").empty()
            $.each(data, function (d, item) {
                $("#table tbody").append(
                    "<tr>"
                    + "<td>" + item.id_categoria + "</td>"
                    + "<td>" + item.fg_ativo + "</td>"
                    + "<td>" + item.titulocategoria + "</td>"
                    + "<td>" + item.descricaocategoria + "</td>"
                    + "<td><a onclick=\"viewEditar(" + item.id_categoria + ")\">Editar</a><a onclick=\"deletar(" + item.id_categoria + ")\">Deletar</a>"
                    + "</tr>")
            })
        });
    }

    $("#btnPesquisar").click(function () {
        // action goes here!!
        pesquisar();
    });

    $("#btnSalvar").click(function () {
        // action goes here!!
        if (isEmpty(itemSelecionado)) {
            // Inserir
            $.ajax({
                url: '/insertCategoria',
                data: JSON.stringify({
                    titulocategoria: $("#NomeItem").val(),
                    descricaocategoria: $("#DescricaoItem").val(),
                    fg_ativo: $("#AtivaItem").val(),
                }, null, '\t'),
                contentType: 'application/json;charset=UTF-8',
                type: 'POST',
                success: function (data, status) {
                    alert("Inserido");
                    viewPesquisar();
                    pesquisar();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        else {
            // Alterar
            $.ajax({
                url: '/updateCategoria',
                data: JSON.stringify({
                    titulocategoria: $("#NomeItem").val(),
                    descricaocategoria: $("#DescricaoItem").val(),
                    fg_ativo: $("#AtivaItem").val(),
                    id_categoria: $("#IdItem").val()
                }, null, '\t'),
                contentType: 'application/json;charset=UTF-8',
                type: 'PUT',
                success: function (data, status) {
                    alert("Atualizado");
                    viewPesquisar();
                    pesquisar();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });
</script>
{{super()}}
{% endblock %}