{% extends "bootstrap/base.html" %}

{% block title %}Estoque{% endblock %}

{% block navbar %}
<div class="navbar">
    <div class="row">
        <div class="col-md-12">
            <h1>Bem vindo </h1>
        </div>
    </div>
</div>
<div class="row">
    <ul>
        <div class="col-md-6">
            <a class="btn btn-primary" href="/categorias" role="button">Categorias</a>
            <a class="btn btn-primary" href="/produtos" role="button">Produtos</a>
            <a class="btn btn-primary" href="/compras" role="button">Compras</a>
            <a class="btn btn-primary" href="/fornecedores" role="button">Fornecedores</a>
            <a class="btn btn-primary" href="/vendas" role="button">Vendas</a>
            <a class="btn btn-primary" href="/vendedores" role="button">Vendedores</a>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
</div>
</ul>
</div>
{% endblock %}

{% block content %}

{% endblock %}