{% extends "bootstrap/base.html" %}

{% block title %}Vendedores{% endblock %}

{% block navbar %}
<div class="navbar">
    <div class="row">
        <div class="col-md-12">
            <h1>Vendedor</h1>
        </div>
    </div>
</div>
<div class="row">
    <ul>
        <div class="col-md-6">
            <a class="btn btn-primary" href="/categorias" role="button">Categorias</a>
            <a class="btn btn-primary" href="/produtos" role="button">Produtos</a>
            <a class="btn btn-primary" href="/compras" role="button">Compras</a>
            <a class="btn btn-primary" href="/fornecedores" role="button">Fornecedores</a>
            <a class="btn btn-primary" href="/vendas" role="button">Vendas</a>
            <a class="btn btn-primary" href="/vendedores" role="button">Vendedores</a>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
</div>
</ul>
</div>
{% endblock %}

{% block content %}

<div id="viewPesquisar">
    <div class="panel">
        <div class="panel-title" style="margin-top: 40px; margin-bottom: 40px">
            <div class="col-md-12">
                <div class="row" style="display: flex;align-items: center;">
                    <h3>Pesquisar Vendedores</h3>
                    <input id="btnAdicionar" style="margin-left: 30px;" class="btn btn-warning" value="Adicionar"
                        onclick="viewAdicionar()">
                </div>
                <hr class="my-4">
            </div>
        </div>
        <hr class="my-4">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="Nome">Nome</label>
                    <input type="text" id="Nome" name="Nome" />
                </div>
                <div class="col-md-6">
                    <form method="get">
                        <input id="btnPesquisar" class="btn btn-success" value="Pesquisar">
                    </form>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 20px">
        <table id="table" class="col-md-12">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fg. Ativo</th>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Carteira Trabalho</th>
                    <th>Telefone</th>
                    <th>Data Admissão</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<div id="viewItem">
    <div class="panel">
        <div class="panel-title" style="margin-top: 40px; margin-bottom: 40px">
            <div class="col-md-12">
                <div class="row" style="display: flex;align-items: center;">
                    <h3>Adicionar/Editar Vendedores</h3>
                    <input id="btnVoltar" style="margin-left: 30px;" class="btn btn-warning" value="Voltar"
                        onclick="viewPesquisar()">
                </div>
                <hr class="my-4">
            </div>
        </div>
        <hr class="my-4">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <input type="hidden" id="IdItem" name="IdItem">
                    <label for="Nome">Nome</label>
                    <input type="text" id="NomeItem" name="Nome" />
                </div>
                <div class="col-md-2">
                    <label for="Ativo">Ativo</label>
                    <input type="number" id="AtivaItem" name="Ativo" />
                </div>
                <div class="col-md-5">
                    <label for="CPF">CPF</label>
                    <input type="text" id="Cpf" name="Cpf" />
                </div>
                <div class="col-md-5">
                    <label for="CarteiraTrabalho">Carteira de Trabalho</label>
                    <input type="text" id="CarteiraTrabalho" name="CarteiraTrabalho" />
                </div>
                <div class="col-md-5">
                    <label for="Telefone">Telefone</label>
                    <input type="text" id="Telefone" name="Telefone" />
                </div>
                <div class="col-md-5">
                    <label for="DataAdmissao">Data Admissão</label>
                    <input type="text" id="DataAdmissao" name="DataAdmissao" />
                </div>
                <div class="col-md-2">
                    <form method="get">
                        <input id="btnSalvar" class="btn btn-success" value="Concluído">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles -%}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#viewItem').hide();
    });

    var itemSelecionado = {};

    var listaItems = [];

    function viewPesquisar() {
        $("#viewPesquisar").show();
        $("#viewItem").hide();
    }

    function viewEditar(id) {
        itemSelecionado = listaItems.find(item => { return item.id_vendedor == id });
        console.log("Item selecionado: ", itemSelecionado);
        $("#Cpf").val(itemSelecionado.cpf);
        $("#IdItem").val(id);
        $("#AtivaItem").val(itemSelecionado.fg_ativo);
        $("#Nome").val(itemSelecionado.nome);
        $("#CarteiraTrabalho").val(itemSelecionado.carteiratrabalho);
        $("#Telefone").val(itemSelecionado.telefone);
        $("#DataAdmissao").val(itemSelecionado.dataadmissao);
        $("#viewPesquisar").hide();
        $("#viewItem").show();
    }

    function viewAdicionar() {
        itemSelecionado = {};
        $("#Cpf").val("");
        $("#AtivaItem").val("");
        $("#Nome").val("");
        $("#CarteiraTrabalho").val("");
        $("#Telefone").val("");
        $("#DataAdmissao").val("");
        $("#viewPesquisar").hide();
        $("#viewItem").show();
    }

    function deletar(id) {
        console.log("Deletar");
        $.ajax({
            url: '/deleteVendedor/' + id,
            type: 'DELETE',
            success: function (data, status) {
                alert("Deletado");
                pesquisar();
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function isEmpty(obj) {
        for (var prop in obj) {
            if (obj.hasOwnProperty(prop))
                return false;
        }

        return true;
    }

    function pesquisar() {
        let nome = $("#Nome").val();

        console.log("Clicou em pesquisar");
        let stringGet = "";
        if (nome == "")
            stringGet = "/consultaVendedoresAll";
        else
            stringGet = "/consultaVendedores/".concat(nome);

        $.get(stringGet, function (data, status) {
            listaItems = data;
            if (listaItems.length == 0) {
                alert("Nenhum resultado");
            }
            $("#table tbody").empty()
            $.each(data, function (d, item) {
                $("#table tbody").append(
                    "<tr>"
                    + "<td>" + item.id_vendedor + "</td>"
                    + "<td>" + item.fg_ativo + "</td>"
                    + "<td>" + item.cpf + "</td>"
                    + "<td>" + item.nome + "</td>"
                    + "<td>" + item.telefone + "</td>"
                    + "<td>" + item.carteiratrabalho + "</td>"
                    + "<td>" + item.dataadmissao + "</td>"
                    + "<td><a onclick=\"viewEditar(" + item.id_vendedor + ")\">Editar</a><a onclick=\"deletar(" + item.id_vendedor + ")\">Deletar</a>"
                    + "</tr>")
            })
        });
    }

    $("#btnPesquisar").click(function () {
        // action goes here!!
        pesquisar();
    });

    $("#btnSalvar").click(function () {
        // action goes here!!
        if (isEmpty(itemSelecionado)) {
            // Inserir
            $.ajax({
                url: '/insertVendedor',
                data: JSON.stringify({
                    cpf: $("#Cpf").val(),
                    nome: $("#Nome").val(),
                    telefone: $("#Telefone").val(),
                    carteiratrabalho: $("#CarteiraTrabalho").val(),
                    dataadmissao: $("#DataAdmissao").val(),
                    fg_ativo: $("#AtivaItem").val(),
                }, null, '\t'),
                contentType: 'application/json;charset=UTF-8',
                type: 'POST',
                success: function (data, status) {
                    alert("Inserido");
                    viewPesquisar();
                    pesquisar();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        else {
            // Alterar
            $.ajax({
                url: '/updateVendedor',
                data: JSON.stringify({
                    cpf: $("#Cpf").val(),
                    nome: $("#Nome").val(),
                    telefone: $("#Telefone").val(),
                    carteiratrabalho: $("#CarteiraTrabalho").val(),
                    dataadmissao: $("#DataAdmissao").val(),
                    fg_ativo: $("#AtivaItem").val(),
                }, null, '\t'),
                contentType: 'application/json;charset=UTF-8',
                type: 'PUT',
                success: function (data, status) {
                    alert("Atualizado");
                    viewPesquisar();
                    pesquisar();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    });
</script>
{{super()}}
{% endblock %}